*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



#black {
  background-color:black;
  padding-right: 50px;
  padding-left: 50px;
}

#white {
  color: white;
}

#white:hover{
  color:#589d62;
}



#proj{
  margin: 60px;
}

#blue{
  border-color: #000;
  background-color: white;
}

#menuLink{
  color:white;
  text-align: center;
}

#menuLink:hover{
  color: #589d62;
  text-align: center;
}


.wrapper{
  width: 100%;
  height: 330px;
 display: flex;
}

.div1{
  /* border: 1px solid black; */
  color: black;
  width: calc( 50% - 40px) ;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}


.div2{
  width: calc( 50% + 40px );
  height: 100%;
  background: black;
  border-left: 80px solid white;
  border-bottom: 330px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contento{  
  color: white;
  font-size: 16px;
  padding: 15px;      
}

.h1div1{
  font-size:7vw;
  color: black;
  width: 100%;
  /* border: 3px solid #589d62; */
  text-align: center;
  vertical-align: middle;
  /* line-height: 60px;   */
 
}

.h1div2{
  font-size:7vw;
  width: 100%;
  /* border: 3px solid #589d62; */
  text-align: center;
  vertical-align: middle;
  /* line-height: 60px;   */
  margin-top:330px
}




.slanted_div {
  transform: skew(20deg); 
    display: block;
    width: 300px;
    height: 100px;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: #000;
    text-align:center;
   color:#ffffff;
   font-size:20px;
   line-height:5.2;
   margin:0 auto;
  }
  
  span {
    transform: skew(20deg); 
    display: block;
  }


  .container{
      margin-top: 60px;
      margin-bottom: 60px;
  }



  #hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
    }
    
    #hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
    }
    
    #hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
    }
    
    #hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
    }
    
    #hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
    }
    
    #hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
    }
    
    #hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    }
    
    #hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
    }
    
    #hovereffect:hover h2,#hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
    }
    
    #hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
    }




    .fa{
        /* Center vertically and horizontally */
        font-size:2em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
    } 
    
        a:hover{
        color:#589d62;
    }

    .modal-content  {
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important; 
    } 
    
    .modal-header{
        background-color: #589d62;
        -webkit-border-radius: 0px !important;
        -moz-border-radius: 0px !important;
        border-radius: 0px !important; 
    }

    .modal {
        text-align: center;
    }
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    
    .modal-dialog{
      width: 100%;
      max-width:1000px;
    }

    .test{
        max-width: 100%;
        height: auto
    }

    .noStyle{
        list-style: none;
    }

    li#test:before {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f14a";
        display: inline-block;
        padding-right: 3px;
        vertical-align: middle;
        font-weight:900;
     }

    img{
      display: block;
      width: 100%;
      height: 100%;
      /* object-fit: cover; */
     }

     #aboutMe{
      margin: auto;
     }
     

     img.my-photo{
      border-radius: 50%;
      object-fit: cover;
     }


     input[type=email], select, textarea {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #445851;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    input[type=button]:hover {
      background-color: #fff;
      color: #445851;
    }
    
    .container1 {
      border-radius: 5px;
      padding-top: 20px;
    }
    
    #contactForm{
      color: #445851;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      max-width: 350px;
      width: 100%;
      background: #fff;
      padding: 25px;
      border-radius: 5px;
      box-shadow: 4px 4px 2px rgba(254,236,164,1);
    }
    
    
    .contact-text{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      max-width: 350px;
      width: 100%;
      background: #fff;
      padding: 25px;
      border-radius: 5px;
      box-shadow: 4px 4px 2px rgba(254,236,164,1); 
    }
    
    
    
    .contact-text .input_field{
      margin-bottom: 10px;
    }
    
    .contact-text .input_field input[type="text"],
    .contact-text textarea{
      border: 1px solid #e0e0e0;
      width: 100%;
      padding: 10px;
    }
    
    .contact-text textarea{
      resize: none;
      height: 80px;
    }
    
    .contact-text .btn input[type="submit"]{
      border: 0px;
      margin-top: 15px;
      padding: 10px;
      text-align: center;
      width: 100%;
      background: #fece0c;
      color: #332902;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: bold;
      border-radius: 25px;
      cursor: pointer;
    }
    
    
    
    button.form__button{
      background: #1ADF9E;;
      border: .1em solid black;
      border-radius: 0;
      cursor: pointer;
      font-family: 'Big John',Helvetica,'Helvetica Neue',Arial,sans-serif;
      color: #445851;
      font-size: 1em;
    }
    
    button.form__button:hover {
      background: #fff;
    }

    #rowAbout.row{
      padding:0px;
      margin-left: 0px;
      margin-right: 0px;

    }

    #rowContact{
      padding:0px;
      margin:0px;

    }

    .row{
      margin: 0px !important;
    }

    #rowPort{
      margin-top:10px !important;
      padding:0px;
    }

    footer{
      /* padding: 50px; */
    }


    #sub{
    transform: skew(20deg); 
    display: block;
    width: 100px;
    /* height: 25px; */
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    background: #000;
    text-align:center;
   color:#ffffff;
   font-size:20px;
   /* line-height:5.2; */
   margin:0 auto;
    }

    #sub:hover{
      transform: skew(20deg); 
      display: block;
      width: 100px;
      /* height: 25px; */
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      background: #589d62 ;
      text-align:center;
     color:black;
     font-size:20px;
     /* line-height:5.2; */
     margin:0 auto;
      }

    
    
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .row{
        margin: 60px;
      }

      





       

      /* MEDIA QUERY BELOW HERE */

  @media only screen and (max-width: 750px) {
    .col-md-4{
        margin: 10px
    }

    .test{
        max-width: 100%;
  height: auto
    }

    .modal-dialog {
      width: 100%;
        max-width: 340px; /* New width for default modal */
      }
     
      #black {
        background-color:black;
        padding:20px;
      }

      .row{
        margin: 0px;
      }

      .col-sm-3{
        margin: 15px;
      }
  }

  